.app-button {
  background-color: #DDD;
  font-size: 16px;
  border-radius: 10px;
  height: 30px;
  border-style: revert;
  outline: none;
  transition: background 100ms;
}

.app-button:hover {
  background-color: #BBB;
}

.app-button__container {
  margin-top: 10px;
}
