.App {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%
}

.App-content {
  margin: auto;
}

.App-logo {
  height: 40vmin;
}

#root, body, html {
  height: 100%;
  width: 100%;
}
